@{
    ViewData["Title"] = "Home Page";
}

<h1>Form parameters parsing demo</h1>
<ul>
    <li><a href="~/Calc/ManualParsingInSingleAction">Manual parsing in single action</a></li>
    <li><a href="~/Calc/ManualParsingInSeparateActions">Manual parsing in separate actions</a></li>
    <li><a href="~/Calc/ModelBindingInParamaters">Model binding (parameters)</a></li>
    <li><a href="~/Calc/ModelBindingInSeparateModel">Model binding (separate model)</a></li>
</ul>

