@model Web_lab_12.Models.CalculatorInputModel
<h1>ModelBindingInSeparateModel</h1>
<form asp-action="ModelBindingInSeparateModelResult" method="post">
    <div>
        @Html.TextBoxFor(m => m.Number1, new { type = "number", step = "any" })
    </div>
    <div>
        @Html.DropDownListFor(m => m.Operation, new SelectList(new[] {
        new { Value = "+", Text = "+" },
        new { Value = "-", Text = "-" },
        new { Value = "*", Text = "*" },
        new { Value = "/", Text = "/" }
        }, "Value", "Text"), Model.Operation)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Number2, new { type = "number", step = "any" })
    </div>
     
    <button type="submit">Submit</button>
</form>